<html>
<head>
	<title>TicTacToe</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="script.js"></script>
<link rel = "stylesheet" href="style.css">

</head>

<body x-ng-app="" x-ng-controller="tttController">
	<!-- <div id="grad"></div> -->
	<div class ="container">
		<div class="cells" x-ng-class-even = " 'even' " x-ng-class-odd = " 'odd' " x-ng-repeat="b in board track by $index" x-ng-click=clicker($index)> {{ b }} </div>

	</div>

</body>
</html>